DB_HOST=localhost
DB_PORT=5432
DB_NAME=need_for_food
DB_USERNAME=need_for_food
DB_PASSWORD=need_for_food

PGADMIN_EMAIL=admin@needforfood.com
PGADMIN_PASSWORD=admin

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=need_for_food
MONGO_USERNAME=need_for_food
MONGO_PASSWORD=need_for_food
